#responsive{
    width: 90%;
    margin: 0 auto;
    background-color: black;
    border: 0.5px solid red;
    max-width: 420px;
}

header{
    width: 100%;
    background-color: blue;
    height: 100px;
}

nav{
    width: 100%;
    background-color: purple;
    height: 50px;
    /* added in week 7, it allows the hamburger to be position absolute which only works if position is relative */
    position: relative;
}

#container{
    height: 500px;
    background-color: white;
    width: 100%;
    display: flex;
}

footer{
    width: 100%;
    background-color: aqua;
    height: 100px;
}

#sidebar{
    background-color: blueviolet;
    display: none;
    height: 100%;
}

#inner-container{
    background-color: chartreuse;
    height: 100%;
}

/* nav stuff from week 7 */
ul#menuitems{
    list-style-type: none;
    display: none;
    position: absolute;
    top: 39px;
    left: -38px;
    flex-direction: column;
}

#Hamburger {
    width: 40px;
    height: 40px;
    background-color: aqua;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 0 0 5px;
    box-shadow: 5px 10px grey;

}
#Hamburger > div{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px auto;
}

ul#menuitems >li {
    background-color: azure;
    width: 250px;
}

ul#sidebaritems{
    list-style-type: none;
    padding:0;
}

@media only screen and (min-width: 21px){
    body{
        background-color:indigo;
    }

    #sidebar{
        background-color: blueviolet;
        display: inline;
        height: 100%;
        width: 20%;
    }
    
    #inner-container{
        background-color: chartreuse;
        height: 100%;
        width: 80%;
    }
    
}

@media only screen and (min-width: 724px){
    body{
        background-color:black;
    }
}